name = "pgsqlservername"
databases = {
  psqlservername1 = { collation = "en_US.utf8" }
}

administrator_login    = "pgsqladmin"
administrator_password = "pgsql1313"

sku_name       = "GP_Standard_D4s_v3"
pgsql_version  = "13"
storagesize_mb = 262144

location       = "canadacentral"
resource_group = "XX-XXXX-XXXX-XXX-XXX"

ip_rules       = []
firewall_rules = []
