name = var.managed_postgresql_name
databases = {
  psqlservername1 = { collation = "en_US.utf8" }
}

administrator_login          = "pgsqladmin"
administrator_login_password = "psql1313"

kv_workflow_enable = false
# kv_workflow_name             = "XXXXX"
# kv_workflow_rg               = "XX-XXXX-XXXX-XXX-XXX"
# kv_workflow_salogging_rg     = "XX-XXXX-XXXX-XXX-XXX"

sku_name       = "GP_Standard_D4s_v3"
pgsql_version  = "13"
storagesize_mb = 262144

location       = "canadacentral"
resource_group = "XX-XXXX-XXXX-XXX-XXX"

firewall_rules = []

vnet_cidr   = "172.15.0.0/16"
vnet_enable = false
vnet_name   = "psql-vnet"
vnet_rg     = "XX-XXXX-XXXX-XXX-XXX"

subnet_enable           = false
subnet_name             = "psql-subnet"
subnet_address_prefixes = ["172.15.8.0/22"]

diagnostics = {
  destination   = ""
  eventhub_name = ""
  logs          = ["all"]
  metrics       = ["all"]
}
